.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; 
}

.navbar {
  background-color: #003f5c !important;
}

.navbar-brand {
  color: white !important;
  font-weight: bold;
}

.nav-link {
  color: white !important;
}

.content {
  padding-top: 80px;
}

.footer {
  text-align: center;
  background-color: #003f5c;
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

button {
  background-color: #003f5c;
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.685);
  color: white;
  padding: 5px;
}

button:hover {
  background-color: tomato;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-border {
  width: 60px;
  height: 60px;
}